// assets/scss/_spacing.scss

$space-1:  4px;
$space-2:  8px;
$space-3:  12px;
$space-4:  16px;
$space-5:  24px;
$space-6:  32px;
$space-7:  48px;
$space-8:  64px;
$space-9:  96px;
$space-10: 128px;

$container-sm:  640px;
$container-md:  768px;
$container-lg:  1024px;
$container-xl:  1280px;
$container-2xl: 1440px;

$header-height: 72px;
